{% extends 'blog/base.html' %}


{% block content %}
<h1 class="mb-3">Posts by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h1>
{% for i in page_obj %}
<div class="jumbotron">

    <h3><img class="rounded-circle article-img" style="width: 70px; height:70px" src="{{ i.author.profile.image.url }}"
            alt=""> <a href="{% url 'post-detail' i.id %}"> {{i.title}}</a></h3>
            <p class="lead">by : <a href="{% url 'user-posts' i.author.username %}"> {{i.author}}</a></p>
    <p>{{i.date_posted|date:"F, d, Y"}}</p>
    <hr class="my-4">
    <p>{{i.text}}</p>
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>
{% endfor %}


{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
{% elif num > page_obj.number|add:'-3' and num > page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}
{% endif %}
{% endblock content %}